#cursor {
  position: fixed;
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 25px;
  opacity: 0.25;
  pointer-events: none;
  transition: 0.8s ease-in-out;
  transition-property: background;
}

#cursor.hidden {
  opacity: 0;
}

#cursor.active {
  opacity: 0.5;
  transform: scale(0.5);
}
